* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header nav ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header nav ul li a {
  color: black;
}
.header nav ul li a:hover {
  color: red;
  transition: 0.6s;
}
.headerimg {
  display: flex;
  gap: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.boxcard {
  width: 23%;
  display: flex;
  gap: 15px;
}

.arrivalstop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrivalstop h1 {
  font-size: 3rem;
}
.arrivalbutton {
  display: flex;
  gap: 25px;
}
.arrivalbutton button {
  border: 1px solid transparent;
  background-color: transparent;
}
.arrivalsbottom {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 50px 0;
}
.arrivalsbottom .arrivalsbottomcard {
  width: 22%;
  text-align: center;
}

#custom-flower {
  background-image: url(../image/call-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.custom-flower {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: white;
  font-family: "Hello Santtiny";
}
.orderbtn {
  font-size: 0.9rem;
  padding: 9px 18px;
  background-color: #f4d9;
  color: white;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: bold;
}
.contactbtn {
  font-size: 0.9rem;
  padding: 9px 18px;
  background-color: white;
  color: #f4d9;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: bold;
}
#florist {
  background-image: url(../image/download.webp);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.florist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 20px;
}
.florist p{
    font-size: 1.5rem;
}

.footertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* FORM HTML  */

.contactustop {
  text-align: center;
}
#contact {
  padding: 50px 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form button {
  background-color: blue;
  color: white;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
}
form input {
  padding: 5px 20px;
}

tr td,
tr th {
  border: 1px solid black;
  padding: 0 80px;
}
td img {
  width: 40%;
}
table {
  border-collapse: collapse;
}
tbody tr td button {
  padding: 2px 7px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
}
.search {
  padding: 5px 30px;
  margin: 20px 0;
}
.asc {
  padding: 4px 10px;
  border-radius: 4px;
  background-color: green;
  color: white;
  border: 1px solid transparent;
  margin: 0 20px;
}
